.mypage{
  width: 200px;
  float: right;
  position: relative;
  bottom: 1170px;
  right: 45px;
  position: relative;
  &__image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
  &__name{
    text-align: center;
  }
}