
-# %p#notice= notice

-# %p
-#   %b Name:
-#   = @review.name
-# %p
-#   %b Rate:
-#   = @review.rate
-# %p
-#   %b Review:
-#   = @review.review
-# %p
-#   %b Book:
-#   = @review.book_id

-# = link_to 'Edit', edit_review_path(@review)
-# \|
-# = link_to 'Back', reviews_path
